doctype html
html
  head
    link(rel='icon',href='/img/favicon.png',sizes='180x180')
    title= title
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
