doctype html
html(lang='en')
  head
    link(rel='icon',href='/img/favicon.png',sizes='180x180')
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/pace.css')
  body
    block content
    script(src='js/jquery-3.4.1.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/pace.min.js')